{
	"source":[
		{
			"type":"atom",
			"format":"xml",
			"name":"wiki",
			"url":"http://yoursite.com/atom.xml"
		}
	],
	"target":[
		{
			"type":"sina",
			"name":"sina_master1",
			"client_id":"1234567890",
			"client_secret":"abcdefghijklmopqrstuvwxyz",
			"redirect_uri":"1234567890",
			"access_token":"2.0xxxxxxxxxxxxxxxxxx",
			"method":[
				{
					"action":"update",
					"picsource":"moegirlwiki",
					"enablepic":"true"
				}
			]
		},
		{
			"type":"sina",
			"name":"sina_slave1",
			"client_id":"1234567890",
			"client_secret":"abcdefghijklmopqrstuvwxyz",
			"redirect_uri":"1234567890",
			"access_token":"2.0xxxxxxxxxxxxxxxxxx",
			"method":[
				{
					"action":"repost",
					"repost_source":["sina_master1"]
				}
			]
		},
		{
			"type":"qq",
			"name":"roqq",
			"client_id":"1234567890",
			"client_secret":"abcdefghijklmopqrstuvwxyz",
			"redirect_uri":"1234567890",
			"access_token":"2.0xxxxxxxxxxxxxxxxxx",
			"method":[
				{
					"action":"update",
					"picsource":"moegirlwiki",
					"enablepic":"true"
				}
			]
		}
	]
}