{
	"debug":true,
	"source":{
		"wiki":{
			"type":"mediawiki",
			"feed_url":"http://zh.wikipedia.org/w/index.php?title=Special:%E6%9C%80%E8%BF%91%E6%9B%B4%E6%94%B9&feed=rss&namespace=0",
			"api_url":"http://zh.wikipedia.org/w/api.php",
			"pic_url":"http://upload.wikimedia.org/wikipedia/zh/",
			"interval":120,
			"limit":1,
			"do_update_before_start":false
		}
	},
	"filter":{
		"word":{
			"type":"word",
			"dict_file":"some.txt"
		},
		"r18filter":{
			"type":"regexp",
			"regexp":"R18|血腥|暴力"
		},
		"zhconv":{
			"type":"zhconv"
		},
		"moewikitext":{
			"type":"moegirlwiki",
			"wiki_url":"http://zh.wikipedia.org/wiki/"
		},
		"weibobase":{
			"type":"basic",
			"max_length":100,
			"format":"{{.Title}}: {{.Content}}... 阅读更多: {{urlquery .Link}}"
		}
	},
	"target":{
		"sina_master1":{
			"type":"sina",
			"access_token":"2.0xxxxxxxxxxxxxxxxxx",
			"enable_upload_url":false,
			"method":[
				{
					"action":"update",
					"source":["wiki"],
					"filter":["moewikitext","weibobase","zhconv"],
					"limit":1
				}
			]
		},
		"sina_slave1":{
			"type":"sina",
			"access_token":"2.0xxxxxxxxxxxxxxxxxx",
			"method":[
				{
					"action":"repost",
					"source":["sina_master1"],
					"limit":1
				}
			]
		},
		"roqq":{
			"type":"qq",
			"client_id":"1234567890",
			"access_token":"2.0xxxxxxxxxxxxxxxxxx",
			"openid":"2.0xxxxxxxxxxxxxxxxxx",
			"method":[
				{
					"action":"update",
					"source":["wiki"],
					"filter":["moewikitext","weibobase","zhconv"],
					"limit":1
				}
			]
		}
	}
}