{
	"source":[
		{
			"type":"atom",
			"format":"xml",
			"name":"wiki",
			"url":"http://yoursite.com/atom.xml",
			"enablepic":"true",
			"pictag":"img[src]",
			"picsize":[100,100,800,600]
		}
	],
	"target":[
		{
			"type":"sina",
			"name":"sina_master1",
			"client_id":"1234567890",
			"client_secret":"abcdefghijklmopqrstuvwxyz",
			"redirect_uri":"1234567890",
			"access_token":"2.0xxxxxxxxxxxxxxxxxx",
			"method":[
				{
					"action":"update",
					"source":["wiki"],
				}
			]
		},
		{
			"type":"sina",
			"name":"sina_slave1",
			"client_id":"1234567890",
			"client_secret":"abcdefghijklmopqrstuvwxyz",
			"redirect_uri":"1234567890",
			"access_token":"2.0xxxxxxxxxxxxxxxxxx",
			"method":[
				{
					"action":"repost",
					"source":["sina_master1"]
				}
			]
		},
		{
			"type":"qq",
			"name":"roqq",
			"client_id":"1234567890",
			"client_secret":"abcdefghijklmopqrstuvwxyz",
			"redirect_uri":"1234567890",
			"access_token":"2.0xxxxxxxxxxxxxxxxxx",
			"method":[
				{
					"action":"update",
					"source":["wiki"],
				}
			]
		}
	]
}